# Ignore LaTeX files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc

# Include .tex and Makefile
!*.tex
!Makefile

descriptive_statistics.pdf
descriptive_statistics.tex
summary_of_tools.pdf
summary_of_tools.tex
tool_effectiveness_and_damage.pdf
tool_effectiveness_and_damage.tex
